
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Image</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr name="greenspan">
                <th>{{email}}</th>
                <th>{{name}}</th>
                <th name="number">{{ phone }}</th>
                <th><a target="blank" href="{{image-url}}"><img height="50px" src="{{image-url}}" alt=""></a></th>


                <th>{{company}}</th>
            </tr>
            {{/each}}
        </tbody>

    </table>
    <script src="helpers/index.js"></script>
    <script src="script.js"></script>
</body>
